@media (max-width: 992px) {
    .form_wrapper {
      display: block;
    }
    
    .cart_counter {
      font-size: 10px;
      padding: 0 !important;
      width: 100px !important;
    }
  
    .cart_counter button {
      width: 60px !important;
    }
  

    .cart_btn {
      width: 3rem;
    }
  
    .cart_btn h5 {
      display: none;
    }
  
    .dropdown_nav {
      margin-right: -30px !important;
    }
  
  
    #adress_bar {
      width: 100px;
      margin-left: -1px !important;
    }
    .modal_heading {
      text-align: center !important;
    }
    
    .dropdown_cart_wrapper {
      width: 350px;
    }
  
    /* .h2-responsive {
      font-size: 16px;
    } */
   
    

   

    
  }
  
  @media (max-width: 576px) {
    .category_wrap {
      min-width: 100% !important;
    }
    /* .counter_button, .to_cart_btn {
      max-height: 34px !important;
      max-width: 100px !important;
    } */


    .count:active {
        background-color: none !important;
    }

    .mobile-text {
    font-size: 14px !important;
    }
    
    .mobile-price {
        font-size: 12px;
        padding: 0 !important;
        margin: 0 !important;
    }

    .search_wrapper {
      left: -10px !important;
      width: 90vw !important;
    }

    .price-mobile-card {
        padding: 0 !important;
        margin: 0 !important;
    }

    .card_text_wrap {
      word-break: break-all;
      min-height: 70px !important;
    }

    .swiper-button-next, .swiper-rtl  {
        display: none !important;
    }

    .swiper-button-prev, .swiper-rtl {
        display: none !important;
    }
    
    .product_card {
      font-size: 12px;
  }

  .counter_button {
    height: 30px !important;
    min-width: 100px !important;
  }

  .cart_counter {
    font-size: 10px;
    padding: 0 !important;
    width: 100px !important;
  }

  .cart_counter button {
    width: 60px !important;
  }

  .count {
    height: 30px !important;
  }

  .counter_button h4 {
    font-size: 16px !important;
  }
  }
  
  @media (max-width: 300px) {
    .dropdown_cart_wrapper {
        width: 220px;  
    }
  }

  