:root {
  --gosu-grey: rgba(217, 217, 217, 0.5);
  --gosu-transparent: rgba(0, 0, 0, 0.2);
  --gosu-second-transparent: rgba(0, 0, 0, 0.5);
  --gosu-black: black;
  --gosu-red: #d81d24;
  --gosu-red-gradient: linear-gradient(
    271.02deg,
    rgba(216, 29, 36, 0.7) 1.59%,
    rgba(241, 103, 31, 0.7) 98.19%
  );
  --gosu-footer-gradient: linear-gradient(
    270.06deg,
    rgba(218, 31, 38, 0.5) 0.05%,
    rgba(241, 103, 31, 0.5) 99.95%
  );
  --gosu-modal-gradient: linear-gradient(270deg, #d91f25 0%, #f06520 100%);
  --gosu-bg: rgb(245, 245, 245);
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  counter-reset: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--gosu-bg) !important;
}

#comp_content {
  width: 100%;
  max-width: 1256px !important;
  margin: auto;
  background-color: var(--gosu-bg) !important;
}

.height-3 {
  height: 3rem;
}

.btn_orange_gradient {
  background: var(--gosu-red-gradient) !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.btn_grey {
  background: var(--gosu-grey) !important;
  border-color: var(--gosu-grey) !important;
  color: var(--gosu-black) !important;
}

.burger_menu {
  box-sizing: border-box;

  width: 56.1px;
  height: 48.74px;

  border: 1px solid var(--gosu-grey) !important;
  border-radius: 15px;
}

.burger_menu:hover {
  transition: 30ms;
  background-color: var(--gosu-grey) !important;
}

.burger_menu_image {
  width: 20px;
}

.btn_login {
  width: 107.85px;
  height: 48.74px;
  border-radius: 15px !important;
}

#search_bar {
  background-image: url(../public/img/search.svg);

  background-repeat: no-repeat;
  font-size: 16px;
  background-position: 10px 5px;
  padding-left: 73px;
  height: 48.74px;
}

.input {
  border: none !important;
  background-color: var(--gosu-grey) !important;
  border-radius: 15px !important;
  background-blend-mode: multiply !important;
  /* opacity: 0.8 !important; */
}

/* .input::after{
  background: var(--gosu-grey) !important;

} */

h1 {
  font-size: 32px !important;

}



#adress_bar {
  width: 279.24px;
  height: 48.74px;
  margin-left: 40px;
}

.action-tag {
  background: var(--gosu-red-gradient) !important;

  transform: rotate(-7.2deg);
}

.text-strikethrough {
  position: absolute;
  left: -8px;
  top: -12px;
  transform: rotate(-10deg);
  color: #d81d24 !important;
  font-weight: 900;
}

.burger_menu:hover {
  transition: 30ms;
  background-color: var(--gosu-grey) !important;
}

.header_container {
  max-height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 0 !important;
  padding: 34px 0 34px !important;
}

.cart_btn {
  width: 153.7px;
  height: 48.74px;
  font-size: 13px;
}

.gradient_btn {
  background: var(--gosu-red-gradient) !important;
  border-color: var(--gosu-red-gradient) !important;
  margin-left: 40px;
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  border-radius: 15px !important;
  justify-content: center;
}

.save_btn_wrap {
  max-width: 149px !important;
}

.save_btn {
  border-radius: 8px !important;
  font-weight: 600 !important;
  width: 148.97px;
  height: 52.08px;
  margin: 0 !important;
}

.toggle_btn {
  display: flex !important;
  justify-content: flex-start !important ;
  background-color: white !important;
  margin-right: 20px !important;
  border-radius: 0px !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  width: 203px !important;
  max-width: 203px !important;
}

.selected-radio {
  color: var(--gosu-red) !important;
}

.text_size {
  font-size: 16px;
  font-weight: 500;
}

.form_wrapper {
  margin-top: 23px;
  display: flex;
  max-width: 636px;
}

.form_input {
  border: 1px solid var(--gosu-transparent) !important;
  max-width: 320px;
  height: 52px !important;
}

.form_wrapper label {
  font-size: 20px;
  width: 340px !important;
  padding-left: 12px !important;
}

.logout_btn {
  font-weight: 600 !important;
  font-size: 16px !important;
  border-radius: 8px !important;
  width: 202.83px !important;
  height: 52.08px !important;
}

#cart {
  font-size: 24px;
  margin: 19px 22px 19px 14px;
}

.footer {
  background: var(--gosu-footer-gradient) !important;
  height: 326px !important;
  padding: 0 !important;
}

.footer_container {
  width: 100% !important;
  padding: 0 !important;
  height: 270px;
  border-bottom: 1px solid var(--gosu-transparent) !important;
}

.footer_wrapper {
  display: flex !important;
  flex-direction: row !important;
}

.footer_text {
  color: white;
  font-weight: 500;
  font-size: 16px;
}

.footer_text:first-child {
  color: var(--gosu-second-transparent) !important;
}

.footer_text a {
  text-decoration-line: underline;
}
/*  */
.footer_logo {
  height: 45px;
}

.About_wrapper {
  color: var(--gosu-second-transparent) !important;
  font-size: 16px;
  font-weight: 500;
}

.social_wrapper {
  display: flex;
  flex-direction: row !important;
  justify-content: flex-end;
  margin: 0 !important  ;
  padding: 0 !important;
}

.bottom_container {
  color: var(--gosu-second-transparent) !important;
  font-weight: 500;
  font-size: 19px;
}

.top_menu_wrapper {
  display: flex;
  max-height: 489px !important;
  max-width: 1150px !important;
  flex-direction: row;
}

.top_menu_text {
  color: white !important;
  font-weight: 600 !important;
  font-size: 28px !important;
  position: relative;
  top: -274px;
  left: 37px;
}

.top_menu_text_side {
  color: white !important;
  font-weight: 600 !important;
  font-size: 26px !important;
  position: relative;
  top: -130px;
  left: 27px;
}

.image_wrapper_side {
  box-sizing: border-box !important;
  height: 136px;
}

.image_wrapper {
  height: 288px;
  width: 360px !important;
}

.image_wrapper_side:last-child {
  margin-top: 16px;
}

.plate_image {
  height: 288px;
}

.plate_image_side {
  height: 136px;
}

.modal_header {
  border: none !important;
}

.login_logo {
  width: 124px;
  margin: auto;
}

.phone_num_row {
  width: 80% !important;
  margin: auto !important;
  height: 46.73px;
}

.phone_label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gosu-transparent) !important;
  margin-right: 0 !important;
  padding: 0 !important;
  border-radius: 5px 0 0 5px;
  max-width: 50px !important;
  font-weight: 500;
  font-size: 18px !important;
  height: 46.73px;
}

.phone_num {
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-color: var(--gosu-transparent) !important;
  border-radius: 0 5px 5px 0 !important;
  height: 46.73px;
  font-size: 18px !important;
}

.phone_num:focus {
  box-shadow: none !important;
}

.sms_btn {
  width: 80%;
  font-size: 18px !important;
  height: 46.73px;
  border-radius: 5px !important;
  margin-left: 10% !important;
  background: var(--gosu-modal-gradient) !important;
  border: var(--gosu-modal-gradient) !important;
}

.modal_heading {
  width: 410px;
  margin: auto !important;
  font-weight: 700 !important;
  font-size: 22px !important;
}

.modal_subheading {
  width: 320px;
  margin: auto;
  color: var(--gosu-second-transparent) !important;
  font-weight: 400;
  font-size: 19px !important;
}

.modal_login {
  margin-left: 35%;
  background: none !important;
  border: none !important;
  color: var(--gosu-red) !important;
  font-size: 18px !important;
  font-weight: 500 !important;
}

.dropdown_wrapper {
  background-color: var(--gosu-bg) !important;
  width: 300px ;
}

a {
  color: inherit !important;
}
