@charset "UTF-8";

:root {
  --gosu-secong: rgba(245, 245, 245);
  --gosu-grey: rgba(217, 217, 217, 0.5);
  --gosu-second-grey: #d9d9d9;
  --gosu-transparent: rgba(0, 0, 0, 0.2);
  --gosu-second-transparent: rgba(0, 0, 0, 0.5);
  --gosu-black: rgb(0, 0, 0);
  --gosu-red: rgb(216, 29, 36);
  --gosu-red-gradient: linear-gradient(
    271.02deg,
    rgba(216, 29, 36, 0.7) 1.59%,
    rgba(241, 103, 31, 0.7) 98.19%
  );
  --gosu-footer-gradient: linear-gradient(
    270.06deg,
    rgba(218, 31, 38, 0.5) 0.05%,
    rgba(241, 103, 31, 0.5) 99.95%
  );
  --gosu-bg: rgb(245, 245, 245);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  counter-reset: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--gosu-bg) !important;
}

#comp_content {
  width: 100%;
  max-width: 1256px !important;
  margin: auto;
  background-color: var(--gosu-bg) !important;
}

.height-3 {
  height: 3rem;
}

.product_page_wrapper {
  max-width: 1256px !important;
}

.btn_orange_gradient {
  background: var(--gosu-red-gradient) !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.btn_grey {
  background: var(--gosu-grey) !important;
  border-color: var(--gosu-grey) !important;
  color: var(--gosu-black) !important;
}

.burger_menu {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  box-sizing: border-box;
  width: 56.1px !important;
  height: 48.74px !important;

  border: 1px solid var(--gosu-transparent) !important;
  border-radius: 15px !important;
}

.burger_menu:hover {
  transition: 30ms;
  background-color: var(--gosu-grey) !important;
}

.burger_menu_image {
  margin-left: 12px !important;
  width: 20px;
}

.btn_login {
  width: 107.85px;
  height: 48.74px;
  border-radius: 15px !important;
}

.search_bar {
  background-image: url(../public/img/search.svg);
  background-repeat: no-repeat;
  font-size: 16px;
  background-position: 10px 5px;
  padding-left: 73px;
  height: 48.74px;
}

.react-datepicker__navigation--next {
  left: 85%;
}

.react-datepicker__time-list,
.react-datepicker__header--time {
  display: none !important;
}

.react-datepicker {
  width: 242px !important;
}

.input {
  border: none !important;
  background-color: var(--gosu-grey) !important;
  border-radius: 15px !important;
  background-blend-mode: multiply !important;
}

h1 {
  font-size: 32px !important;
}

#adress_bar {
  width: 100%;
  height: 48.74px;
}

#adress_bar:active {
  border: none;
}

.action-tag {
  background: var(--gosu-red-gradient) !important;

  transform: rotate(-7.2deg);
}

.dropdown_cart_scroll {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.text-strikethrough {
  position: absolute;
  left: -8px;
  top: -12px;
  transform: rotate(-10deg);
  color: #d81d24 !important;
  font-weight: 900;
}

.cart_btn {
  height: 48.74px;
  font-size: 0px !important;
}

.cart_btn h5 {
  font-size: 19px !important;
}

.gradient_btn {
  background: var(--gosu-red-gradient) !important;
  border-color: var(--gosu-red-gradient) !important;
  margin-left: 40px;
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  border-radius: 15px !important;
  justify-content: center;
}

.save_btn {
  border: var(--gosu-red-gradient);
  color: white !important;
  border-radius: 8px !important;
  font-weight: 600 !important;
  width: 148.97px;
  height: 52.08px;
  margin: 0 !important;
}

.toggle_btn {
  display: flex !important;
  justify-content: flex-start !important;
  background: none !important;
  margin-right: 20px !important;
  border-radius: 0px !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  max-width: 203px !important;
}

.selected-radio {
  color: var(--gosu-red) !important;
}

.text_size {
  font-size: 16px;
  font-weight: 500;
}

.form_wrapper {
  display: flex;
  margin-top: 23px;
  max-width: 636px;
}

.form_input {
  background: none !important;
  border: 1px solid var(--gosu-transparent) !important;
  max-width: 320px;
  height: 52px !important;
}

.form_wrapper label {
  font-size: 20px;
  width: 340px !important;
  padding-left: 12px !important;
}

.logout_btn {
  background-color: var(--gosu-grey) !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  border-radius: 8px !important;
  width: 150px !important;
  height: 52.08px !important;
}

.footer {
  background: var(--gosu-footer-gradient) !important;
  height: 326px !important;
  padding: 0 !important;
}

.footer_container {
  width: 100% !important;
  padding: 0 !important;
  height: 270px;
  border-bottom: 1px solid var(--gosu-transparent) !important;
}

.footer_wrapper {
  display: flex !important;
  flex-direction: row !important;
}

.footer_text {
  color: white;
  font-weight: 500;
  font-size: 16px;
}

.footer_text:first-child {
  color: var(--gosu-second-transparent) !important;
}

.footer_text a {
  text-decoration-line: underline;
}

/*  */
.footer_logo {
  height: 45px;
}

.About_wrapper {
  color: var(--gosu-second-transparent) !important;
  font-size: 16px;
  font-weight: 500;
}

.social_wrapper {
  display: flex;
  flex-direction: row !important;
  justify-content: flex-end;
  margin: 0 !important;
  padding: 0 !important;
}

.bottom_container {
  color: var(--gosu-second-transparent) !important;
  font-weight: 500;
  font-size: 19px;
}

.modal_header {
  border: none !important;
}

/* .personal_wrapper {
  margin-bottom: 12rem;
} */

.login_logo {
  width: 124px;
  margin: auto;
}

.phone_num_row {
  width: 80% !important;
  height: 46.73px;
}

.phone_label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gosu-transparent) !important;
  margin-right: 0 !important;
  padding: 0 !important;
  border-radius: 5px 0 0 5px;
  max-width: 50px !important;
  font-weight: 500;
  font-size: 18px !important;
  height: 46.73px;
}

.phone_num {
  padding: 0 !important;
  border-color: var(--gosu-transparent) !important;
  border-radius: 0 5px 5px 0 !important;
  max-height: 46.73px !important;
  font-size: 18px !important;
}

.phone_num:focus {
  box-shadow: none !important;
}

.sms_btn {
  color: white;
  width: 80%;
  font-size: 18px !important;
  height: 46.73px;
  border-radius: 5px !important;
  margin-top: 20px;
  margin-left: 10% !important;
  background: var(--gosu-red-gradient) !important;
  border: var(--gosu-modal-gradient) !important;
}

.modal_heading {
  width: 410px;
  margin: auto !important;
  font-weight: 700 !important;
  font-size: 20px !important;
}

.modal_subheading {
  width: 320px;
  margin: auto;
  color: var(--gosu-second-transparent) !important;
  font-weight: 400;
  font-size: 19px !important;
}

.modal_login {
  background: none !important;
  border: none !important;
  color: var(--gosu-red) !important;
  font-size: 18px !important;
  font-weight: 500 !important;
}

.fade_in {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}

.custom-scrollbar {
  overflow-y: auto;
  top: 30px;
  overflow-x: hidden;
  scrollbar-width: thin; /* Ширина скроллбара */
  scrollbar-color: #888888 #f4f4f4; /* Цвет скроллбара */
}

.custom-scrollbar::-webkit-scrollbar {
  border-radius: 10px;
  width: 8px; /* Ширина скроллбара для WebKit браузеров */
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 0 3px 3px 0;
  background-color: #d8d8d8; /* Цвет трека скроллбара */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;

  background-color: #888888; /* Цвет ползунка скроллбара */
}

.dropdown_wrapper {
  border-radius: 20px !important;
  background-color: var(--gosu-bg) !important;
  width: 300px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropdown_cart_wrapper {
  width: 433px;
  padding: 20px;
  right: -31px !important;
  margin-top: 10px !important;
  border: none !important;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.113) !important;
}

.cart_btn h5 {
  color: white !important;
  font-weight: 700;
  font-size: 20px;
}

.btn_grey h5 {
  padding-top: 4px;
  font-weight: 400 !important;
  font-size: 20px;
}

.count_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--gosu-transparent);
  border-radius: 25px;
  height: 77px;
}

.cart_counter {
  width: 154px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 21px !important;
}

.cart_counter button {
  border-radius: 10px !important;
  width: 33px;
  border: none;
  background-color: var(--gosu-transparent);
}

.product_params {
  display: flex !important;
  font-size: 15px;
  font-weight: 500;
  flex-direction: row !important;
}

.product_params p:last-child {
  color: var(--gosu-second-transparent);
}

.text_grey {
  color: var(--gosu-second-transparent);
}

.dropdown-toggle::after {
  visibility: hidden;
}

.counter_button {
  min-width: 182px !important;
}

.counter_button:hover {
  transition: 300ms ease-in-out;
  background-color: rgba(87, 82, 82, 0.726);
}

.open_cart_btn {
  display: flex !important;
  justify-content: space-between !important;
  color: white !important;
  width: 100% !important;
  font-weight: 500;
  font-size: 21px;
}

.counter_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--gosu-red-gradient);
}

.counter_button button {
  color: white;
  background: none;
  border: none;
  font-weight: 600;
  font-size: 30px;
}

.counter_button span {
  color: white;
  font-weight: 600;
}

.up_button {
  background-color: rgba(161, 149, 149, 0.719);
}

.catalog_button {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  border-radius: 2rem;
  padding: 1rem;
  border: 4px solid var(--gosu-secong);
  display: flex;
  align-items: top;
  text-align: start;
}

a {
  color: inherit !important;
}

.product_tag {
  color: white !important;
  text-decoration: none;
  padding: 2px 5px 2px 5px;
  background-color: var(--gosu-second-transparent);
  border-radius: 15px;
}

.product_tag:first-child {
  background: var(--gosu-red-gradient);
}

.btn-group-xs > .btn,
.btn-xs {
  padding: 0.35rem 0.4rem 0.25rem 0.4rem;
  font-size: 0.875rem;
  line-height: 0.5;
  border-radius: 0.2rem;
}

.switch {
  background-color: none !important;
  border: 1px solid var(--gosu-red) !important;
  position: relative;
  overflow: hidden;
}

.switch input[type="checkbox"] {
  display: none;
}

.switch-group {
  position: absolute;
  width: 200%;
  top: 0;
  bottom: 0;
  left: 0;
  transition: left 0.35s;
}

.switch.off .switch-group {
  left: -100%;
}

.switch-on {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  margin: 0;
  border: 0;
  border-radius: 0;
}

.switch-off {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.switch-handle {
  position: relative;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 100%;
  width: 0px;
  border: 1px solid var(--gosu-red) !important;
  background-color: var(--gosu-red) !important;
}

.switch[class*="btn-outline"]:hover .switch-handle {
  background-color: var(--light);
  opacity: 0.5;
}

.switch.btn {
  min-width: 3.7rem;
  min-height: calc(1.5em + 0.75rem + 2px);
}

.switch-on.btn {
  padding-right: 1.5rem;
}

.switch-off.btn {
  padding-left: 1.5rem;
}

.switch.btn-lg {
  min-width: 150px;
  line-height: 1.5;
  min-height: calc(1.5em + 1rem + 2px);
}

.switch-on.btn-lg {
  padding-right: 2rem;
}

.switch-off.btn-lg {
  padding-left: 2rem;
}

.switch-handle.btn-lg {
  width: 2.5rem;
}

.cart_wrapper h1 {
  font-size: 44px !important;
}

.delivery_wrapper {
  height: 190px;
  font-weight: 400;
  font-size: 23px;
  width: 100%;
  background-color: var(--gosu-second-grey);
  border-radius: 35px;
  padding: 20px 30px 20px 30px;
}

.delivery_wrapper h5 {
  margin-top: -10px;
  font-weight: 500;
  font-size: 16px;
  color: var(--gosu-second-transparent) !important;
}

.delivery_progress {
  height: 5px !important;
  background-color: var(--gosu-transparent);
}

.pricing {
  border-bottom: 1px solid var(--gosu-second-transparent);
  font-weight: 500;
  padding-bottom: 10px;
  color: var(--gosu-second-transparent) !important;
}

.cart_product_count {
  font-weight: 700;
  border-radius: 20px;
  background-color: var(--gosu-transparent);
  width: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 21px !important;
}

.cart_product_count button {
  border: none;
  background: none;
}

.payment_button {
  color: white !important;
  width: 100%;
  font-weight: 600;
}

.orders_group {
  font-weight: 500;
}

.cart_btn:active {
  transition: all 2s ease-out !important;
  background-color: rgba(0, 0, 0, 0.699) !important;
}

.get_code_btn {
  width: 80%;
  margin: auto;
  color: white;
  background: var(--gosu-red-gradient);
  font-weight: 500;
}

.back_btn {
  background-color: var(--gosu-second-grey) !important;
}

.details_container {
  justify-content: space-between !important;
}

.form-control {
  background-color: var(--gosu-bg);
  height: 52px !important;
}

.animate_button:hover {
  transition: 300ms ease-in-out !important;
  background-color: #54535379 !important;
}

.animate_button:active {
  transition: 500ms ease-in-out !important;
  background-color: #38383879 !important;
  transform: scale(0.8, 0.8);
}

.category_wrap {
  background-size: cover;
}

.categories_nav {
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.9rem;
  display: inline-flex;
  background-color: #cec9c9;
}

.showAnimation {
  animation-name: show-animation;
  animation-duration: 300ms;
}

@keyframes show-animation {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.hideAnimation {
  animation-name: hide-animation;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes hide-animation {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}

.show-enter {
  transform: translateY(-100%);
}

.show-enter-active {
  transform: translateY(0);
  transition: transform 200ms;
}

.show-exit {
  transform: translateY(0);
}

.show-exit-active {
  transform: translateY(-100%);
  transition: transform 200ms;
}